<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11839164814-luko78df4nkkp1vpol1sf5pspagvote2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11839164814-luko78df4nkkp1vpol1sf5pspagvote2</string>
	<key>API_KEY</key>
	<string>AIzaSyAxrxMPURmXuJV3C3ixxCO0jEgwOtlkX5w</string>
	<key>GCM_SENDER_ID</key>
	<string>11839164814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Brandon.Login-Attempt-2</string>
	<key>PROJECT_ID</key>
	<string>log-in-attempt-2</string>
	<key>STORAGE_BUCKET</key>
	<string>log-in-attempt-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11839164814:ios:9afedfa2dd4ff6437094df</string>
	<key>DATABASE_URL</key>
	<string>https://log-in-attempt-2.firebaseio.com</string>
</dict>
</plist>